* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: lightgray;
}

header {
    text-align: center;
}

.heading{
    margin-top: 50px;
    font-size: 20px;
    height: 200px;  
}

.my-image {
    width: 200px;
    border-radius: 50%;
}

.image-intro {
    display: inline-block; 
    width: 48%;
}

.intro {
    text-align: center;
}

h2 {
    font-size: 30px;
}

.alignment {
    text-align: justify; 
    margin-left: 20%; 
    margin-right: 20%;
}

.connection {
    height: 60px;
    width: 60px;
    padding: 10px;
    
}

